@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Anton&family=Jost:ital,wght@0,400;1,300&family=Poppins:ital,wght@0,200;0,400;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
}

section{
    margin-bottom: 10px;
}

nav{
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
}

footer{
    padding: 3rem;
    background-color: rgb(138, 87, 176);
    margin-bottom: 0;
    margin-top: 1.5em;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}